:root[data-theme="dark"] {
    --bg-primary: #000000; /* Pure black Netflix */
    --bg-secondary: #000000;
    --bg-panel: #141414; /* Netflix dark grey */
    --text-primary: #FFFFFF;
    --text-secondary: #B3B3B3;
    --accent: #E50914; /* Netflix Red */
    --accent-hover: #F40612;
    --border: #222222;
    
    --buy-color: #46D369;
    --sell-color: #E50914;
    --hold-color: #FFB53F;
    
    --card-bg: #141414;
}

:root[data-theme="light"] {
    --bg-primary: #F3F3F3;
    --bg-secondary: #FFFFFF;
    --bg-panel: #FFFFFF;
    --text-primary: #141414;
    --text-secondary: #555555;
    --accent: #E50914;
    --accent-hover: #F40612;
    --border: #CCCCCC;
    
    --buy-color: #27AE60;
    --sell-color: #E50914;
    --hold-color: #F39C12;
    
    --card-bg: #EAEAEA;
}
